.main {
	display: grid;
	grid-template-columns: 3fr 7fr;
	height: 1000px;
	max-width: 100%;
	grid-gap: 1em;
}

.left {
	background-color: pink;
	height: 100%;
	width: auto;
}

.right {
	background-color: cyan;
	height: 100%;
	width: auto;
}