.main {
	background-image: linear-gradient(0deg, #353535, #525252, #353535);
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	text-transform: uppercase;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	font-family: "Righteous";
}

.links {
	height: 3.3em;
	display: flex;
	align-items: center;
	width: auto;
}
.links > * {
	font-weight: bolder;
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	padding: 0 10px 0 10px;
	background-color: inherit;
	transition: background-color ease-in-out .25s;
	border-left: 1px solid #353535;
}
.links > *:hover {
	background-image: linear-gradient(0deg, #525252, #353535, #525252);
	transition: background-color ease-in-out .25s;
}
.links:last-child {
	border-right: 1px solid #353535;
}

.title {
	text-decoration: none;
	color: white;
	font-weight: bolder;
	display: flex;
	font-size: 2em;
	margin: 0;
}
.specialText {
	margin-top: 8px;
	color: black;
	background-color: yellow;
	font-size: .5em;
	height: fit-content;
	border-radius: 2px;
	padding: 0 2px 0 2px;
}

.selected {
	background-image: linear-gradient(0deg, #525252, #353535, #525252);
	color: yellow;
}