.main {
	background-color: #353535;
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	text-transform: uppercase;
	margin-bottom: 2em;
}

.links {
	height: 3.5em;
	display: flex;
	align-items: center;
	width: auto;
}
.links > * {
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	padding: 0 10px 0 10px;
	background-color: inherit;
	transition: background-color ease-in-out .25s;
	border-left: 1px solid black;
}
.links > *:hover {
	background-color: #525252;
	transition: background-color ease-in-out .25s;
}

.title {
	display: flex;
	padding: 10px;
	font-size: 2em;
	margin: 0;
}
.specialText {
	color: black;
	background-color: yellow;
	font-size: .5em;
	height: 1em;
}

.selected {
	background-color: #525252;
	color: yellow;
}